

@model List<Datos.DBConexion.LogMantenimiento_Tabla>

@{
    ViewBag.Title = "LogsMantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>
<h1>Tabla de historial de mantenimientos</h1>





<style>
    h1 {
        text-align: center;
    }

    .Guardar {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boton {
        padding: 0.5em 1em;
        border: none;
        background: rgb(100, 200, 255);
        cursor: pointer;
    }

    .table {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input {
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #a1d1f5;
        color: #64696d;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }

    #panelTablas {
        padding: 20px;
    }

    .green-font {
        color: green;
    }

    .red-font {
        color: red;
    }


</style>

<form action="/Mantenimiento/GuardarDatos" method="post" class="Guardar">

    <div class="container" style="width: 100%;">
        <label for="psw"><b>Usuario</b></label>
        <br />
        <input type="text" placeholder="Digite el usuario" name="txtNombre" required>
        <br />

        <label for="psw"><b>Descripcion</b></label>
        <br />
        <input type="text" placeholder="Digite la descripcion" name="txtDescripcion" required>
        <br />
        <br />
        <button type="submit" class="boton">Guardar</button> <br />

    </div>

    @*<div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
                </div>*@
</form>

<div class="panel panel-default" id="panelTablas">
    <div class="panel panel-heading" style="text-align: center;"><strong>Mantenimientos de Tablas</strong> </div>
    <div class="panel panel-body">

        <br />
        <table class="table" id="tblMantenimientos">
            <!--Cabecera de las columnas-->
            <thead>
                <tr>
                    <th>ID Tabla</th>
                    <th>ID Usuario</th>
                    <th>Descripción</th>
                    <th>Creación</th>
                    <th>Modificación</th>
                    <th>Anulación</th>
                    <th>Estatus</th>
                </tr>

            </thead>

            <tbody>
                @foreach (var log in Model)
                {
                    <tr class="context-menu-one-mantTablas" data-id="@log.Id_Tabla" data-idusuario="@log.Nom_Usuario" data-descripcion="@log.Descripcion" data-fecha="@log.Fecha" data-estatus="@log.Estatus">

                        <td>@log.Id_Tabla</td>
                        <td>@log.Nom_Usuario</td>
                        <td>@log.Descripcion</td>
                        <td>@log.Fecha</td>
                        <td class="@(log.Estatus == "Activo" ? "green-font" : "red-font")">@log.Estatus </td>                        
   
                
                    </tr>

                }
            </tbody>

        </table>


    </div>

</div>


